body {
	padding: 40px;
	display: flex;
	font-family: "Inter", sans-serif;
	background: #f3f5fc;
}

* {
	font-family: inherit;
}

header {
	display: inline-block;
	margin: 0 40px 0 0;
}

main {
	width: 100%;
	height: 80dvh;
	display: flex;
}

/* input section */
.input-section {
	width: 65%;
	height: 100%;
	display: inline;
	margin-right: 20px;
}

/* textarea */
.input-area {
	width: calc(100% - 60px);
	height: 100%;
	resize: none;
	padding: 48px 0 0 0;
	background: #f3f5fc;
	color: #0a3871;
	font-size: 32px;
	overflow: auto;
	box-sizing: border-box;
	border: none;
}

.input-area:focus {
	outline: none;
}

.input-area::placeholder {
	color: #0a3871;
}

.aviso span {
	font-size: 12px;
	line-height: 16px;
	vertical-align: top;
}

.aviso {
	margin-bottom: 16px;
}

.submit-btns {
	display: inline-block;
}

button {
	width: 328px;
	height: 67px;
	border-radius: 24px;
	font-size: 16px;
}

button:hover {
	cursor: pointer;
	scale: calc(110%);
	transition: all 0.1s;
	animation: glowing 1s infinite;
}

@keyframes glowing {
	0% {
		box-shadow: 0 0 10px 5px rgba(10, 56, 113, 0.5) inset;
	}

	50% {
		box-shadow: 0 0 20px 5px rgba(10, 56, 113, 0.5) inset;
	}

	100% {
		box-shadow: 0 0 10px 5px rgba(10, 56, 113, 0.5) inset;
	}
}

button:active {
	scale: calc(90%);
	animation: flash 0.1s linear;
	transition: all 0s;
}

@keyframes flash {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#criptografar {
	margin-right: 24px;
	color: #4db8ff;
	background: #d8dfe8;
    
}


@keyframes glowing-light {
	0% {
		box-shadow: 0 0 10px 5px rgba(55, 153, 255, 0.5) inset;
	}

	50% {
		box-shadow: 0 0 20px 5px rgba(55, 153, 255, 0.5) inset;
	}

	100% {
		box-shadow: 0 0 10px 5px rgba(55, 153, 255, 0.5) inset;
	}
}

#descriptografar {
	color: #4db8ff;
	background: #d8dfe8;
	
}

.output-section {
	width: 35%;
	height: calc((100% + 130px));
	background: #fff;
	border-radius: 32px;
	text-align: center;
	padding: 32px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.output-section span {
	display: inline-block;
}

#output-big-text {
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
	margin: 0 32px 16px 32px;
}

#output-small-text {
	font-size: 16px;
	line-height: 24px;
	margin: 0 32px 0 32px;
	width: 80%;
}

.copy-btn {
	margin-top: auto;
}

#copiar {
	border: 1px solid #4db8ff;
	color: #4db8ff;
	background: #fff;
}

.output {
	font-size: 24px;
	line-height: 36px;
	text-align: left;
	align-self: flex-start;
}

.decorative-img {
	display: block;
	margin: 32px;
	margin-top: auto;
}

#copiar,
.output {
	display: none;
}

.alert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 25px;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: auto;
	height: auto;
	vertical-align: center;
	font-size: 34px;
	font-family: inherit;
}

@media only screen and (max-width: 1250px) {
	.decorative-img {
		display: none;
	}

	.submit-btns {
		display: flex;
		flex-direction: row;
	}
}

@media only screen and (max-width: 850px) {
	.submit-btns {
		display: block;
		scale: calc(90%);
	}

	button {
		width: 100%;
	}

	body {
		padding: 10px;
		display: block;
	}

	main {
		display: block;
		flex-direction: column;
		height: auto;
		width: 100%;
	}

	header {
		margin: 0;
		display: block;
		width: 100%;
		height: 50px;
	}

	.input-section {
		width: auto;
		height: auto;
	}

	.input-area {
		width: auto;
		height: 400px;
		font-size: 20px;
	}

	.output-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		position: static;
	}

	.output {
		font-size: 20px;
	}

	.copy-btn {
		width: 100%;
	}

	.alert {
		font-size: 15px;
	}
}